{% from "nav.njk" import nav %}
{% set rateStars %}<svg class="taxi-feedback__rate-stars" xmlns="http://www.w3.org/2000/svg" width="88" height="15" fill="none"><path fill="#F7CF46" d="m15.833 5.682-5.446-.802L7.889 0l-2.45 4.904L0 5.759l3.932 3.833L3.069 15l4.88-2.535 4.906 2.488-.916-5.4 3.894-3.871ZM33.833 5.682l-5.446-.802L25.889 0l-2.45 4.904L18 5.759l3.932 3.833L21.069 15l4.88-2.535 4.906 2.488-.916-5.4 3.894-3.871ZM51.833 5.682l-5.446-.802L43.889 0l-2.45 4.904L36 5.759l3.932 3.833L39.069 15l4.88-2.535 4.906 2.488-.916-5.4 3.894-3.871ZM69.833 5.682l-5.446-.802L61.889 0l-2.45 4.904L54 5.759l3.932 3.833L57.069 15l4.88-2.535 4.906 2.488-.916-5.4 3.894-3.871ZM87.833 5.682l-5.446-.802L79.889 0l-2.45 4.904L72 5.759l3.932 3.833L75.069 15l4.88-2.535 4.906 2.488-.916-5.4 3.894-3.871Z"/></svg>{% endset %}
<main class="page">
  {{ nav("taxi") }}
  <div class="content">
    <section class="taxi-service">
      <div class="taxi-service__car">
        <picture class="taxi-service__car-picture">
          <source srcset="/assets/img/taxi/avif/1100.avif 1100w, /assets/img/taxi/avif/800.avif 800w, /assets/img/taxi/avif/550.avif 550w, /assets/img/taxi/avif/400.avif 400w, /assets/img/taxi/avif/320.avif 320w" sizes="calc(100vw - 2 * 16px)" type="image/avif">
          <source srcset="/assets/img/taxi/webp/1100.webp 1100w, /assets/img/taxi/webp/800.webp 800w, /assets/img/taxi/webp/550.webp 550w, /assets/img/taxi/webp/400.webp 400w, /assets/img/taxi/webp/320.webp 320w" sizes="calc(100vw - 2 * 16px)" type="image/webp">
          <img class="taxi-service__car-photo" src="/assets/img/taxi/jpg/1100.jpg" alt="Таксі Славське" fetchpriority="high" width="550" height="275">
        </picture>
        <a class="taxi-service__map-marker" href="https://maps.app.goo.gl/Ljf3LP2o87MaQfs38">📍 Maps</a>
      </div>
      <div class="taxi-service__content">
        <h1 class="taxi-service__title">Таксі Славське</h1>
        <div class="taxi-service__rate">
          <span class="taxi-service__rate-number">Оцінка 4.9</span>
          <svg class="taxi-service__rate-stars" xmlns="http://www.w3.org/2000/svg" width="88" height="15" fill="none"><path fill="#F7CF46" d="m15.833 5.682-5.446-.802L7.889 0l-2.45 4.904L0 5.759l3.932 3.833L3.069 15l4.88-2.535 4.906 2.488-.916-5.4 3.894-3.871ZM33.833 5.682l-5.446-.802L25.889 0l-2.45 4.904L18 5.759l3.932 3.833L21.069 15l4.88-2.535 4.906 2.488-.916-5.4 3.894-3.871ZM51.833 5.682l-5.446-.802L43.889 0l-2.45 4.904L36 5.759l3.932 3.833L39.069 15l4.88-2.535 4.906 2.488-.916-5.4 3.894-3.871ZM69.833 5.682l-5.446-.802L61.889 0l-2.45 4.904L54 5.759l3.932 3.833L57.069 15l4.88-2.535 4.906 2.488-.916-5.4 3.894-3.871ZM87.833 5.682l-5.446-.802L79.889 0l-2.45 4.904L72 5.759l3.932 3.833L75.069 15l4.88-2.535 4.906 2.488-.916-5.4 3.894-3.871Z"/></svg>
          <span class="taxi-service__rate-number">(29) відгуків</span>
        </div>
        <p class="taxi-service__description">Швидко та зручно у будь-яку точку Славська. Поїздки на екскурсії або за індивідуальним маршрутом</p>
        <br>
        <p class="taxi-service__description"><strong>Телефонуйте та замовляйте зручне таксі!</strong></p>
        <div class="taxi-service__phones">
          <a class="action-btn action-btn--no-icon action-btn--active" href="tel:0964573848"><span class="action-btn__title">(096) 457-38-48</span> </a>
          <a class="action-btn action-btn--no-icon action-btn--active" href="tel:0665998001"><span class="action-btn__title">(066) 599-80-01</span></a>
        </div>
      </div>
    </section>
  </div>
  <div class="content">
    <div class="taxi-feedback">
      <h2 class="taxi-feedback__title">Відгуки клієнтів</h2>
      <div class="taxi-feedback__list">
        {% for review in reviews %}
        <div class="taxi-feedback__item">
          <div class="taxi-feedback__author"><span class="taxi-feedback__name">{{ review.name }}</span> <span class="taxi-feedback__date">{{ review.when }}</span></div>
          <div class="taxi-feedback__rate">{{ rateStars | safe }}</div>
          <p class="taxi-feedback__text">{{ review.text }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
