* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --higlight-color: #ffcd00;
}
body {
  background-color: #fff;
}

.page {
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: system-ui, Arial, Helvetica, sans-serif;
  display: flex;
}

.page__info {
  max-width: 32em;
  margin: 0 auto;
}

.page__cover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #fff;
}

.page__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position: top;
  display: none;
}

.data-widget {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #fff;
  max-width: 35em;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.driver {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.driver_info {
  display: flex;
  gap: 1.5em;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: solid 1px #eaeaea;
  border-bottom: solid 1px #eaeaea;
}

.driver__name {
  font-size: 1.25em;
  line-height: 1.5em;
}

.driver__expertise {
  font-size: 1em;
  font-weight: normal;
  color: #545454;
}

.information__driver-photo {
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  object-fit: cover;
}

.driver__phones {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
  gap: 2em;
}

.driver__phone-item {
  flex: 1;
}
.driver__phone-label {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 0.5em;
}

.driver__phone-icon {
  width: 2em;
  height: 2em;
}

.driver__phone-item a {
  background-color: #ffcd00;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #000;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5em;
  border-radius: 10px;
}

.driver__phone-item a:hover {
  text-decoration: underline;
  background-color: #edbf03;
}

.information__about-service {
  padding-bottom: 1em;
  font-size: 1.125em;
  line-height: 1.5em;
}
.information__about-service h1 {
  font-size: 1.75em;
  line-height: 2em;
  font-weight: 600;
  margin-bottom: 0.25em;
}

.information__about-service p {
  font-size: 1em;
  line-height: 1.5;
}

.call-section {
  max-width: 32em;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.call-action {
  height: 100%;
}

.call-action__link {
  background-color: var(--higlight-color);
  padding: 0.75em 0;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 400px) {
  .driver__phones {
    flex-direction: row;
  }
  .page__cover img {
    display: block;
  }
  .driver__phones {
    gap: 1em;
  }
}

@media screen and (min-width: 500px) {
  .page {
    font-size: clamp(1rem, 0.75rem + 0.5vw, 1.25rem);
  }
  .data-widget {
    padding: 2em;
    top: -2em;
  }
}
