<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ siteData.url }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="uk">
    <meta property="og:site_name" content="{{ siteData.siteName }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="icon" href="/assets/img/fav/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/fav/apple-touch-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/assets/img/fav/apple-touch-icon.png">
  </head>
  <body class="page__body">
    {{ content | safe }}
  </body>
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    // Create the script element
    var gtagScript = document.createElement("script");
    gtagScript.defer = true; // Use defer attribute
    gtagScript.src = "https://www.googletagmanager.com/gtag/js?id=AW-16735371688";
    document.head.appendChild(gtagScript);
    gtagScript.onload = function () {
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "AW-16735371688");
    };
  });
</script>
</html>
